$border-color: #46464641;
$bar-color: #a3a3a3;

$bg-color: #f3f4f6;
$bg-card-color: #e9e5e5;

$txt-color: #000;
$lt-txt-color: #5d5d5d;

$h1-size: 28px;
$h2-size: 25px;
$p-size: 17px;
$icon-size: 22px;
$icon-size-hover: 28px;

