@import 'variables';

body {
  margin: 0;
  text-decoration: none;
  background-color: $bg-color;
  height: auto;
  font-family: $font-text;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  color: $txt-color;
  border: 1px solid red;
}

.bio {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 80px;
  margin-top: 150px;
  padding: 0 50px;

  .bio-text {
    line-height: 1.2;
    // margin-top: 50px;
    padding-right: 20px;

    .bio-columns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    h2 {
      font-family: $font-title;
      font-size: 40px;
    }

    .bio-img {
      max-width: 300px;
      border-radius: 50%;
      margin-top: 50px;
      margin-left: 130px;
      border: 0.5px solid $border-color;
    }
  }

  .cv-download {
    margin-top: 15px;
    background-color: $txt-color;
    color: white;
    border-radius: 7px;
    cursor: pointer;
  }

  h2 {
    font-size: $h2-size;
  }

  .biograph {
    max-width: 420px;
    margin-top: 20px;
    font-size: $p-size;
  }

  .contacts a {
    color: $txt-color;
    text-decoration: none;
    font-size: $icon-size;
    padding: 5px;
    transform: all 0.8s ease;
  }

  i:hover {
    font-size: $icon-size-hover;
    transition: all 0.4s ease;
  }
}

.all-cards {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 55px;

  p {
    font-size: $p-size;
  }
}

.card {
  width: 400px;
  padding: 10px;
  min-height: 200px
}

.hard-skills {
  .card {
    display: flex;
    gap: 50px;
  }
}

.skills-left {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 10px;
  }

  li::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .python::before {
    background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg');
  }

  .html::before {
    background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg');
  }

  .css::before {
    background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg');
  }

  .scss::before {
    background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sass/sass-original.svg');
  }

  .js::before {
    background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg');
  }

  .database::before {
    background-image: url('../images/database-svgrepo-com.svg');
  }
}

.skills-right {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 10px;
  }

  li::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .git::before {
    background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg');
  }

  .linux::before {
    background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg');
  }

  .en::before {
    background-image: url('../images/usa-svgrepo-com.svg');
  }
}

.education {
  .education-info {
    display: flex;
    align-items: stretch; // !important
    gap: 15px;
    margin-bottom: 10px;
  }

  .bar {
    width: 4px;
    border-radius: 3px;
    background-color: $bar-color;
  }

  .text-block {
    display: flex;
    flex-direction: column;
    gap: 4px;
    line-height: 14px;
  }

  .period {
    font-size: 14px;
    color: $lt-txt-color;
    font-style: italic;
  }

  .course-name {
    font-size: $p-size;
    font-weight: 600;
  }

  .institution {
    font-size: 14px;
  }

  p {
    margin: 0
  }
}

.soft-skills {
  .skills {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
  }

  li::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .team::before {
    background-image: url('../images/group-svgrepo-com.svg');
  }

  .org::before {
    background-image: url('../images/list-success-svgrepo-com.svg');
  }

  .adap::before {
    background-image: url('../images/octopus-svgrepo-com.svg');
  }

  .communication::before {
    background-image: url('../images/communication-5-svgrepo-com.svg');
  }

  .learn::before {
    background-image: url('../images/books-svgrepo-com.svg');
  }
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 40px;

  .cp {
    margin: 0 auto;
  }
}

@media (max-width: 1800px) {
  .bio {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    margin-top: -30px;
    margin-bottom: 80px;

    .bio-img {
      width: 35%;
      border-radius: 50%;
      margin-top: 80px;
      margin-left: 130px;
      border: 0.5px solid $border-color;
    }

    .bio-text {
      flex: 1;
      width: 65%;
      line-height: 1.5;
      margin-left: 30px;
      margin-top: 50px;
      padding-right: 20px;
    }

    h2 {
      font-size: $h2-size;
    }

    p {
      font-size: $p-size;
      margin-top: 20px;
    }
  }

  .all-cards {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px;

    p {
      font-size: $p-size;
    }
  }

  .card {
    width: 100%;
    height: auto;
    margin: 0 auto;
    min-height: 200px;
  }

  .header-content {
    flex-direction: column;
    align-items: center;

    .name {
      text-align: center;
    }
  }
}

@media (max-width: 1430px) {
  .bio {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    margin-top: -30px;
    margin-bottom: 80px;

    .bio-img {
      width: 35%;
      border-radius: 50%;
      margin-top: 80px;
      margin-left: 130px;
      border: 0.5px solid $border-color;
    }

    .bio-text {
      flex: 1;
      width: 65%;
      line-height: 1.5;
      margin-left: 30px;
      margin-top: 50px;
      padding-right: 20px;
    }

    h2 {
      font-size: $h2-size;
    }

    p {
      font-size: $p-size;
      margin-top: 20px;
    }
  }

  .all-cards {
    width: 70%;
    grid-template-columns: 1fr;
  }

  .card {
    width: 90%;
    margin: 0 auto;
  }

  .header-content {
    flex-direction: column;
    align-items: center;

    .name {
      text-align: center;
    }
  }
}

@media (max-width: 1200px) {
  .content {
    width: 95%;
    padding: 15px;
  }

  .bio {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    .bio-img {
      width: 45%;
      margin: 0 auto;
    }

    .bio-text {
      width: 90%;
      margin-left: 0;
      padding: 0;
    }
  }

  .all-cards {
    width: 55%;
    grid-template-columns: 1fr;
  }

  .card {
    width: 90%;
    margin: 0 auto;
  }

  .header-content {
    flex-direction: column;
    align-items: center;

    .name {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .content {
    width: 95%;
    padding: 5px;
  }

  .bio {
    flex-direction: column;
    align-items: center;

    .bio-img {
      width: 50%;
      margin: 0 auto;
    }

    .bio-text {
      width: 90%;
      margin-left: 0;
      padding: 0;
    }
  }

  .all-cards {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .card {
    width: 90%;
    margin: 0 auto;
  }

  .header-content {
    flex-direction: column;
    align-items: center;

    .name {
      text-align: center;
    }
  }
}

@media (max-width: 475px) {
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}