:root {
  --border-color: #49494969;
  --bg-color: #f3f3f3;
  --txt-color: #000;
  --lt-txt-color: #747474;
  --orange-txt-color: rgb(221, 131, 58);
  --dark-bg-color: rgba(0, 0, 0, 0.877);

  --font-title: "Space Grotesk", sans-serif;
  --font-text: "Inter", sans-serif;
}

html {
  font-size: 16px;
  font-family: var(--font-text);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0 0 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: var(--bg-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.snap-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  height: 100vh;
  width: 93%;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .bio-text {
    line-height: 1.2;

    .bio-columns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    h1 {
      font-family: var(--font-title);
      font-size: 2.4rem;
      text-transform: uppercase;
    }

    .bio-img {
      max-width: 250px;
      max-height: 250px;
      border-radius: 50%;
      margin-top: 50px;
      margin-left: 130px;
    }
  }

  .biograph {
    max-width: 420px;
    margin-top: 20px;
    font-size: 1rem;
  }
}

.cv-download {
  padding: 0.5rem 1.3rem;
  margin-top: 15px;
  color: var(--txt-color);
  text-transform: uppercase;
  cursor: pointer;

  i {
    margin-right: 0.5rem;
  }
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    margin-bottom: 3rem;
    font-family: var(--font-title);
    font-size: 1.15rem;
    text-transform: uppercase;
    font-weight: 350;
  }

  .experience-info {
    width: 100%;
  }

  #area {
    h4 {
      margin: 0.4rem 0;
      font-weight: 500;
      color: var(--orange-txt-color);
    }
  }

  .area-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;

    div {
      display: flex;
      align-items: center;
      gap: 4px;

      p {
        margin: 0 0;
        font-size: 0.9rem;
        font-style: oblique;
        color: var(--lt-txt-color);
      }
    }

    h3 {
      margin: 0 0;
      text-transform: uppercase;
      font-family: var(--font-title);
    }
  }

}

.education {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    margin-bottom: 3rem;
    font-family: var(--font-title);
    font-size: 1.15rem;
    text-transform: uppercase;
    font-weight: 350;
  }

  .education-info {
    width: 100%;
  }

  #course {
    padding: 0.5rem 0;

    h3 {
      margin: 0 0;
      text-transform: uppercase;
      font-family: var(--font-title);
    }
  }

  .course-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;

    h4 {
      margin: 0.4rem 0;
      font-weight: 500;
      color: var(--lt-txt-color);
    }

    div {
      display: flex;
      align-items: center;
      gap: 4px;

      p {
        margin: 0 0;
        font-size: 0.9rem;
        font-style: oblique;
        color: var(--lt-txt-color);
      }
    }
  }
}

#division-line {
  width: 100%;
  height: 1px;
  margin: 0.75rem 0;
  background-color: var(--border-color);
}

#date-line {
  width: 1rem;
  height: 1px;
  margin: 0.3rem;
  background-color: var(--border-color);
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .skill-category {
    margin: 1rem 0;
    padding: 1rem 0;
  }

  h2 {
    font-size: 1rem;
    font-weight: 350;
    text-transform: uppercase;
    color: var(--lt-txt-color);
  }

  h3 {
    font-size: 1.4rem;
    font-family: var(--font-title);
    text-transform: uppercase;
  }

  .hard-skills {
    div {
      display: flex;
      flex-wrap: wrap;
      gap: 0.2rem;
      width: 80%;

      span {
        padding: 0.5rem;
        border: 1px solid var(--border-color);
      }

      :hover {
        background-color: var(--dark-bg-color);
        color: var(--bg-color);
      }
    }
  }

  .soft-skills {
    div {
      display: flex;
      flex-wrap: wrap;
      gap: 0.2rem;
      width: 80%;

      span {
        padding: 0.5rem;
        border: 1px solid var(--orange-txt-color);
        color: var(--orange-txt-color);
      }

      :hover {
        background-color: var(--orange-txt-color);
        color: var(--bg-color);
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  .contact {
    h3 {
      color: var(--lt-txt-color);
      font-weight: 350;
      text-transform: uppercase;
    }

    h1 {
      font-family: var(--font-title);
      text-transform: uppercase;
    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;

    a {
      padding: 0.6rem 0;
      font-size: 1.17rem;
      font-weight: 350;
      text-decoration: none;
      text-transform: uppercase;
      color: var(--txt-color);
      transition: all 0.2s ease;
    }

    :hover {
      color: var(--orange-txt-color);
    }
  }

  .cp {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 0.85rem;

    a {
      text-decoration: none;
    }
  }
}

// @media (max-width: 1800px) {
//   .bio {
//     display: flex;
//     flex-direction: row;
//     align-items: flex-start;
//     justify-content: flex-start;
//     gap: 40px;
//     margin-top: -30px;
//     margin-bottom: 80px;

//     .bio-img {
//       width: 35%;
//       border-radius: 50%;
//       margin-top: 80px;
//       margin-left: 130px;
//       border: 0.5px solid $border-color;
//     }

//     .bio-text {
//       flex: 1;
//       width: 65%;
//       line-height: 1.5;
//       margin-left: 30px;
//       margin-top: 50px;
//       padding-right: 20px;
//     }

//     h2 {
//       font-size: 2.4rem;
//     }

//     p {
//       font-size: 1.25rem;
//       margin-top: 20px;
//     }
//   }

//   .all-cards {
//     width: 60%;
//     margin: auto;
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: 55px;

//     p {
//       font-size: 10px;
//     }
//   }

//   .card {
//     width: 100%;
//     height: auto;
//     margin: 0 auto;
//     min-height: 200px;
//   }

//   .header-content {
//     flex-direction: column;
//     align-items: center;

//     .name {
//       text-align: center;
//     }
//   }
// }

// @media (max-width: 1430px) {
//   .bio {
//     display: flex;
//     flex-direction: row;
//     align-items: flex-start;
//     justify-content: flex-start;
//     gap: 40px;
//     margin-top: -30px;
//     margin-bottom: 80px;

//     .bio-img {
//       width: 35%;
//       border-radius: 50%;
//       margin-top: 80px;
//       margin-left: 130px;
//       border: 0.5px solid $border-color;
//     }

//     .bio-text {
//       flex: 1;
//       width: 65%;
//       line-height: 1.5;
//       margin-left: 30px;
//       margin-top: 50px;
//       padding-right: 20px;
//     }

//     h2 {
//       font-size: 2.4rem;
//     }

//     p {
//       font-size: 1.25rem;
//       margin-top: 20px;
//     }
//   }

//   .all-cards {
//     width: 70%;
//     grid-template-columns: 1fr;
//   }

//   .card {
//     width: 90%;
//     margin: 0 auto;
//   }

//   .header-content {
//     flex-direction: column;
//     align-items: center;

//     .name {
//       text-align: center;
//     }
//   }
// }

// @media (max-width: 1200px) {
//   .content {
//     width: 95%;
//     padding: 15px;
//   }

//   .bio {
//     flex-direction: column;
//     align-items: center;
//     margin-top: 40px;

//     .bio-img {
//       width: 45%;
//       margin: 0 auto;
//     }

//     .bio-text {
//       width: 90%;
//       margin-left: 0;
//       padding: 0;
//     }
//   }

//   .all-cards {
//     width: 55%;
//     grid-template-columns: 1fr;
//   }

//   .card {
//     width: 90%;
//     margin: 0 auto;
//   }

//   .header-content {
//     flex-direction: column;
//     align-items: center;

//     .name {
//       text-align: center;
//     }
//   }
// }

// @media (max-width: 768px) {
//   .content {
//     width: 95%;
//     padding: 5px;
//   }

//   .bio {
//     flex-direction: column;
//     align-items: center;

//     .bio-img {
//       width: 50%;
//       margin: 0 auto;
//     }

//     .bio-text {
//       width: 90%;
//       margin-left: 0;
//       padding: 0;
//     }
//   }

//   .all-cards {
//     width: 100%;
//     grid-template-columns: 1fr;
//   }

//   .card {
//     width: 90%;
//     margin: 0 auto;
//   }

//   .header-content {
//     flex-direction: column;
//     align-items: center;

//     .name {
//       text-align: center;
//     }
//   }
// }

// @media (max-width: 475px) {
//   .info {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     text-align: center;
//   }
// }