:root {
  --border-color: #49424269;
  --bar-color: #a3a3a3;
  --bg-color: #f3f4f6;
  --bg-card-color: #e9e5e5;
  --txt-color: #000;
  --lt-txt-color: #5d5d5d;
  --font-title: "Space Grotesk", sans-serif;
  --font-text: "Inter", sans-serif;
}

html {
  font-size: 16px;
  font-family: var(--font-text);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0 0 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: var(--bg-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.snap-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  height: 100vh;
  width: 93%;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bio .bio-text {
  line-height: 1.2;
}
.bio .bio-text .bio-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.bio .bio-text h1 {
  font-family: var(--font-title);
  font-size: 2.4rem;
  text-transform: uppercase;
}
.bio .bio-text .bio-img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: 130px;
  border: 0.5px solid var(--border-color);
}
.bio .cv-download {
  padding: 0.5rem 1.3rem;
  margin-top: 15px;
  color: var(--txt-color);
  text-transform: uppercase;
  cursor: pointer;
}
.bio .cv-download i {
  margin-right: 0.5rem;
}
.bio .biograph {
  max-width: 420px;
  margin-top: 20px;
  font-size: 1rem;
}
.bio .contacts a {
  color: var(--txt-color);
  text-decoration: none;
  font-size: 1rem;
  padding: 5px;
  transform: all 0.8s ease;
}
.bio i:hover {
  font-size: 1rem;
  transition: all 0.4s ease;
}

.all-cards {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.all-cards p {
  font-size: 1rem;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.experience h2 {
  margin-bottom: 3rem;
  font-family: var(--font-title);
  font-size: 1.15rem;
  text-transform: uppercase;
  font-weight: 350;
}
.experience .experience-info {
  width: 100%;
}
.experience #area-line {
  width: 100%;
  height: 1px;
  margin: 0.75rem 0;
  background-color: var(--border-color);
}
.experience #area h4 {
  margin: 0.4rem 0;
  font-weight: 500;
  color: rgb(250, 129, 85);
}
.experience .area-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.experience .area-header div {
  display: flex;
  align-items: center;
  gap: 4px;
}
.experience .area-header div p {
  margin: 0 0;
  font-size: 0.9rem;
  font-style: oblique;
  color: var(--lt-txt-color);
}
.experience .area-header h3 {
  margin: 0 0;
  text-transform: uppercase;
  font-family: var(--font-title);
}
.experience #date-line {
  width: 1rem;
  height: 1px;
  margin: 0.3rem;
  background-color: var(--border-color);
}

.card {
  width: 400px;
  padding: 10px;
  min-height: 200px;
}

.hard-skills .card {
  display: flex;
  gap: 50px;
}

.skills-left {
  list-style: none;
  padding: 0;
}
.skills-left li {
  margin-bottom: 10px;
}
.skills-left li::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
}
.skills-left .python::before {
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg");
}
.skills-left .html::before {
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg");
}
.skills-left .css::before {
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg");
}
.skills-left .scss::before {
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sass/sass-original.svg");
}
.skills-left .js::before {
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg");
}
.skills-left .database::before {
  background-image: url("../images/database-svgrepo-com.svg");
}

.skills-right {
  list-style: none;
  padding: 0;
}
.skills-right li {
  margin-bottom: 10px;
}
.skills-right li::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
}
.skills-right .git::before {
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg");
}
.skills-right .linux::before {
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg");
}
.skills-right .en::before {
  background-image: url("../images/usa-svgrepo-com.svg");
}

.education .education-info {
  display: flex;
  align-items: stretch;
  gap: 15px;
  margin-bottom: 10px;
}
.education .bar {
  width: 4px;
  border-radius: 3px;
  background-color: var(--bar-color);
}
.education .text-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
  line-height: 14px;
}
.education .period {
  font-size: 0.85rem;
  color: var(--lt-txt-color);
  font-style: italic;
}
.education .course-name {
  font-size: 1rem;
  font-weight: 600;
}
.education .institution {
  font-size: 1rem;
}
.education p {
  margin: 0;
}

.soft-skills .skills {
  list-style: none;
  padding: 0;
}
.soft-skills li {
  margin-bottom: 10px;
}
.soft-skills li::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
}
.soft-skills .team::before {
  background-image: url("../images/group-svgrepo-com.svg");
}
.soft-skills .org::before {
  background-image: url("../images/list-success-svgrepo-com.svg");
}
.soft-skills .adap::before {
  background-image: url("../images/octopus-svgrepo-com.svg");
}
.soft-skills .communication::before {
  background-image: url("../images/communication-5-svgrepo-com.svg");
}
.soft-skills .learn::before {
  background-image: url("../images/books-svgrepo-com.svg");
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
footer .cp {
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */