:root {
  --border-color: #49494969;
  --bg-color: #f3f3f3;
  --txt-color: #000;
  --lt-txt-color: #747474;
  --orange-txt-color: rgb(221, 131, 58);
  --dark-bg-color: rgba(0, 0, 0, 0.877);
  --font-title: "Space Grotesk", sans-serif;
  --font-text: "Inter", sans-serif;
}

html {
  font-size: 16px;
  font-family: var(--font-text);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0 0 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: var(--bg-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.snap-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  height: 100vh;
  width: 93%;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bio .bio-text {
  line-height: 1.2;
}
.bio .bio-text .bio-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.bio .bio-text h1 {
  font-family: var(--font-title);
  font-size: 2.4rem;
  text-transform: uppercase;
}
.bio .bio-text .bio-img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: 130px;
}
.bio .biograph {
  max-width: 420px;
  margin-top: 20px;
  font-size: 1rem;
}

.cv-download {
  padding: 0.5rem 1.3rem;
  margin-top: 15px;
  color: var(--txt-color);
  text-transform: uppercase;
  cursor: pointer;
}
.cv-download i {
  margin-right: 0.5rem;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.experience h2 {
  margin-bottom: 3rem;
  font-family: var(--font-title);
  font-size: 1.15rem;
  text-transform: uppercase;
  font-weight: 350;
}
.experience .experience-info {
  width: 100%;
}
.experience #area h4 {
  margin: 0.4rem 0;
  font-weight: 500;
  color: var(--orange-txt-color);
}
.experience .area-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.experience .area-header div {
  display: flex;
  align-items: center;
  gap: 4px;
}
.experience .area-header div p {
  margin: 0 0;
  font-size: 0.9rem;
  font-style: oblique;
  color: var(--lt-txt-color);
}
.experience .area-header h3 {
  margin: 0 0;
  text-transform: uppercase;
  font-family: var(--font-title);
}

.education {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.education h2 {
  margin-bottom: 3rem;
  font-family: var(--font-title);
  font-size: 1.15rem;
  text-transform: uppercase;
  font-weight: 350;
}
.education .education-info {
  width: 100%;
}
.education #course {
  padding: 0.5rem 0;
}
.education #course h3 {
  margin: 0 0;
  text-transform: uppercase;
  font-family: var(--font-title);
}
.education .course-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.education .course-header h4 {
  margin: 0.4rem 0;
  font-weight: 500;
  color: var(--lt-txt-color);
}
.education .course-header div {
  display: flex;
  align-items: center;
  gap: 4px;
}
.education .course-header div p {
  margin: 0 0;
  font-size: 0.9rem;
  font-style: oblique;
  color: var(--lt-txt-color);
}

#division-line {
  width: 100%;
  height: 1px;
  margin: 0.75rem 0;
  background-color: var(--border-color);
}

#date-line {
  width: 1rem;
  height: 1px;
  margin: 0.3rem;
  background-color: var(--border-color);
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.skills .skill-category {
  margin: 1rem 0;
  padding: 1rem 0;
}
.skills h2 {
  font-size: 1rem;
  font-weight: 350;
  text-transform: uppercase;
  color: var(--lt-txt-color);
}
.skills h3 {
  font-size: 1.4rem;
  font-family: var(--font-title);
  text-transform: uppercase;
}
.skills .hard-skills div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  width: 80%;
}
.skills .hard-skills div span {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
}
.skills .hard-skills div :hover {
  background-color: var(--dark-bg-color);
  color: var(--bg-color);
}
.skills .soft-skills div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  width: 80%;
}
.skills .soft-skills div span {
  padding: 0.5rem;
  border: 1px solid var(--orange-txt-color);
  color: var(--orange-txt-color);
}
.skills .soft-skills div :hover {
  background-color: var(--orange-txt-color);
  color: var(--bg-color);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.footer .contact h3 {
  color: var(--lt-txt-color);
  font-weight: 350;
  text-transform: uppercase;
}
.footer .contact h1 {
  font-family: var(--font-title);
  text-transform: uppercase;
}
.footer .socials {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}
.footer .socials a {
  padding: 0.6rem 0;
  font-size: 1.17rem;
  font-weight: 350;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--txt-color);
  transition: all 0.2s ease;
}
.footer .socials :hover {
  color: var(--orange-txt-color);
}
.footer .cp {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 0.85rem;
}
.footer .cp a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */